


p{
	text-align: justify;
}

p span{

}


.Yanone{font-family: 'Yanone Kaffeesatz', sans-serif;}

.bg_barra_home{
	background: url(../imgs/barra_home.png)top center no-repeat;
	min-height: 65px;
}

.btn_cinza{
	background: #f6f6f6;
	color: #000;
	border: 1px solid #f6f6f6;
}

.fundo_texto_produtos{
	background: #ececec;
	position: relative;
	border-radius: 5px;
	min-height: 11.56rem /* 185/16 */;
	margin-top: -41px;
}

.icon{
	position: absolute;
	background: url(../imgs/fundo_texto_produtos.png)no-repeat;
	width: 130px;
	height: 120px;
	top: -45px;
	left: 0;
}

.btn_saiba_mais_home{
	position: absolute;
	bottom: -16px;
	right: 20px;
}

.fundo_texto_produtos p{
	color: #696a6a;
	letter-spacing: 0;
}

.fundo_texto_servicos{
	background: url(../imgs/fundo_texto_servicos.png)top center no-repeat;
}

.fundo_texto_contatos{
	background: url(../imgs/fundo_texto_contatos.png)top center no-repeat;

}

.produto_titulo h3{
	letter-spacing:  -2px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.btn_cinza_escuro{
	background: url(../imgs/btn_cinza_escuro.png)center top;
	height: 2.13rem /* 34/16 */;
	color: #fafafa;
}

.btn_cinza_escuro:hover{
	color: #000;
}

.bloco_endereco{
	position: absolute;
	top: -88px;
	background: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 4px 13px 39px -5px rgba(179,173,179,1);
	-moz-box-shadow: 4px 13px 39px -5px rgba(179,173,179,1);
	box-shadow: 4px 13px 39px -5px rgba(179,173,179,1);
}

.border_bottom{
    border-top: 18px solid #939494;
}
.btn_fluatuante{
	position: absolute;
	top: 192px;
	text-align: center;
	left: 99px;
}

.bg_cinza_claro{
	background: #f7f7f7;
}
.dicas .card{
	border: 0;
}

.dicas .card .card-body{
	height: 50px;
	overflow: hidden;
	padding: 5px;
}

.dicas .card a:hover{
	opacity: .8;
}

.dicas h6{
	font-weight: 500;
	color: #424242;
}

.btn_branco{
	background: #fffffd;
	font-size: .88rem /* 14/16 */;
	color: #000;
	font-weight: 500;
	border: 0;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.fundo_dicas{
	background: url(../imgs/FUNDO_DICAS.png)center top no-repeat;
	min-height:516px;
}

.descricao_geral p{
	color: #424242;
}

.descricao_geral h2{
	font-weight: 700;
}

.fundo_empresa{
	background: url(../imgs/fundo_empresa.jpg)center top no-repeat;
	min-height:33.31rem /* 533/16 */;
}

.bloco_empresa{
	top: -28px;
}



.nav-pills .nav-link{
	color: #000;
	display: block;
	background-color: #fffffd;
	margin-top: 25px;
	font-weight: 500;
	font-size: .88rem /* 14/16 */;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.nav-pills .nav-link.active{
	color: #000;
	background-color: #f0f0f0;
	cursor: none;
}

.nav-pills .nav-link:hover{
	color: #000;
	background-color: #f0f0f0;
}

.fundo_contato{
	background: url(../imgs/fundo_contato.png)center top no-repeat;
	min-height:3.75rem /* 60/16 */;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}

.tel_orcamento .telefone_topo{
	color: #696a6a;
}

.fundo_ver_todos{
	background: url(../imgs/fundo-ver-todos.png)right  bottom no-repeat;
	height:12.81rem ;
	width:  12.81rem ;
}


.border_bottom .breadcrumb li a,.border_bottom .breadcrumb li{
    font-size: 10px;
    color: #696a6a;
}
.border_bottom .breadcrumb{
    padding:3px 0;
    background: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: ">";
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.bg_cinza_emp{
    background: #fafafa;
}