
/**
============================================
rodape
============================================
*/

.scrollup{width:65px;height:65px;opacity:0.3;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}

.rodape{
	background: #4e4e4e;
	min-height: 5.94rem /* 95/16 */;
}

.rodape .nav .nav-item .nav-link{
	font-size: .88rem /* 14/16 */;
	color: #fff;
	font-weight: 500;
	border-right: 1px solid #fff;
	padding: 0 8px 0 8px;
	line-height: .81rem /* 13/16 */;
}



.rodape .nav .nav-item .nav-link:hover,
.rodape .nav .nav-item .nav-link.active{
	color: #000;
}

.justify-content-start .nav-item{
	margin: 0;
}

.redes a{
	color: #FFF;
	font-size: 1.38rem /* 22/16 */;
}

.rodape_branco{
	background: #fff;
	height: 1.88rem /* 30/16 */;

}

.telefone_topo{
	color: #fff;
}


.telefone_popover{
	color: #000;
	text-align: left;
}


.telefone_rodape .relativo{
	color: #fff;
	font-size:.88rem /* 14/16 */;
	font-weight: 400;
}


.telefone_rodape .svg-inline--fa.fa-fw,.telefone_rodape .svg-inline--fa.fa-w-14 {
	color: #000 !important ;
}

.endereco_topo p{
	color: #fff;
	font-weight: 400;
	font-size: .94rem /* 15/16 */;
}

/**
============================================
topo
============================================
*/


.bg_topo{
	background: url(../imgs/bg_topo.png)top center no-repeat;
	min-height: 280px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.menu_topo{
	margin-top: 3px;
}



.menu_topo .navbar-light .navbar-nav .nav-link{
	color: #999d9c;
	background: none;
	font-weight: 400;
	padding: 23px;
}

.menu_topo .nav-item{
	margin-top: -.19rem /* -3/16 */;
	border-right:  1px solid #818181;
}


.menu_topo .navbar-light .navbar-nav .active>.nav-link,
.menu_topo .navbar-light .navbar-nav .nav-link:hover,
.menu_topo .nav-link1:hover{
	color: #2f3030;
	background: url(../imgs/fundo_menu_topo.png);
}

.menu_topo .nav-link1 {
	display: block;
	background: none;
	color: #999d9c;
	font-weight: 400;
	padding: 23px 0px 0px 0px;
}

/**
============================================
topo
============================================
*/
