/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width   :100%;
	height  :614px;
	margin  :0px auto;
	overflow: hidden;
	position: relative;
	margin-top: 87px;
	position: relative;

}

#content_slider {
	width      :1170px;
	height     :614px;
	overflow   :hidden;
	position   :relative;
	margin-left:-585px;
	top        :25px;
	left       :50%;
}



/*arrow personalizados*/
#container_banner .rsArrowLeft {
	display: block;
	width: 0;
	height: 0;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 999;
	top: 280px;
	position: absolute;
	left: 5px;
}


#container_banner .rsArrowRight {
	display: block;
	width: 0;
	height: 0;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 999;
	top: 280px;
	position: absolute;
	right: 5px;
}


/*bolinhas personalizados*/
#content-slider-1 .rsTabs {
	width: 162px;
	height: 25px;
	z-index: 9999;
	position: absolute;
	left: 504px;
	top: 465px;
	text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1 .rsNavItem {
	background   : #fff;
	width        :25px;/*setas*/
	opacity      : 1;
	height       : 25px;/*setas*/
	float        : left;
	margin-right : 10px;
	cursor       : pointer;
	border-radius: 50%;
	box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
}

#content-slider-1 .rsNavSelected {
	opacity  : 1;
	background: #848585;
	box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- flexslider  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.lista_categorias .flexslider {
    margin: 0 0 0px;
    background: url(../imgs/bg_transparente.png);
    border: 0;
}

.lista_categorias #slider1 .slides li a {
    font-size: 14px;
    color: #fff;
    /* border: 4px solid #f78436; */
    border-left: 0;
    margin-top: 9px;
		font-weight: 600;
}

.line_cat {
    height: 21px;
    overflow: hidden;
}

.lista_categorias #slider1 .slides li a span {
    width: 100px !important;
}

.todas_cat {
    color: #8f9092 ;
}

/* .lista_categorias #slider1 .slides li.active a, */
.lista_categorias #slider1 .slides li a:hover {
		color: #000900;
		/* border-bottom: 2px solid #fff ; */

}

.lista_categorias .flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
    margin: -10px -35px 0 !important;
}

.lista_categorias .flex-direction-nav a {
    top: 32%;
		margin: -10px -50px 0;
}


.produto-hover {
    left: 0px;
    background: url(../imgs/transparente.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;

}


.carroucel_produtos h2{
	color: #fff;
	font-size: 1.88rem /* 30/16 */;
	font-weight: 600;
}

.bg_produtos_home{
	position: absolute;
	top: 30%;
	background: none;
}

.bg_produtos_home{
	padding: 1.38rem /* 22/16 */;
}

.produto-hover a:hover{
	color: #000;
}

.hover_prod {
    height: 268px;
}
.row_alt{
	min-height: 263px;
}

.produto-hover a{
  color: #fff;

}

.produto-hover a:hover{
  color: #178517;
}

.produto_hover_cat{
	padding-left: 0;
}

.btn_saiba_mais{
	color: #3e3d3d;
	font-size: .88rem /* 14/16 */;
}

.btn_saiba_mais:hover{
	color:   #178517;
}

.btn_saiba_mais .svg-inline--fa.fa-fw{
    color: #000 !important;
}

.fa-plus-circle:before {
    color: #000 !important;
}


.carroucel_produtos .card{
border: 0;
background: #e1e2e1;
padding: 0;
margin-right: 6px;
}

.position_barra_hover {
    width: 286px !important;
    margin-top: -7px;
}

.lista_produtos_home .flexslider{
  margin: 0;
	border: 0;
	background: none;
}

.lista_servicos .flexslider{
	margin-top: 107px;
}


 #slider_carousel1 .flex-prev{
	top: 20%;
	left: 0;
}

#slider_carousel1 .flex-next {
    top: 20%;
    right: 0;
}


.custom-navigation a{
	color: #bfc1c4;
}


.custom-navigation a :hover{
	color: #178517;
}

.portfolio .card{
border: 0;
background: none;;
padding: 0;
margin-right: 6px;
}


#slider_carousel_portifolio .flex-direction-nav a {
    margin: -22px -35px 0;
}


#slider_carousel_portifolio .flex-direction-nav .flex-prev {
     /* left: -50px; */
}


#slider_carousel_portifolio .flex-direction-nav .flex-next {
    /* right: -50px;
    text-align: right; */
}



.slider_prod_geral .flexslider .slider-prod-tumb {
    margin: 0px;
    margin-top: 0px;
		padding: 0px;
    background: none;
    border: 0;
    z-index: 9;
}


.slider_prod_geral .slider-prod-tumb li img,
.slider_prod_geral .slider-prod-tumb li img.active{
height: 60px !important;
padding: 5px;
}

.slider_prod_geral .slider-prod li img:hover {
    cursor: -webkit-zoom-in;
}

.slider_prod_geral .slider-prod-tumb li img:hover,
.slider_prod_geral .slider-prod-tumb li.active img {
    opacity: 1;
    border: 1px solid #001d33;
}

#carousel_item .flex-active-slide img {
    opacity: .6	;
    cursor: default;
}


.desc_titulo_home {
	overflow: hidden;
	height: 48px;
}

.lista-produto h5 span{
	font-size: 1.88rem /* 30/16 */;
	color: #444444;
	font-weight:400;
	line-height:1.56rem /* 25/16 */;
}

.desc_servicos_geral {
    background: none;
    height: 74px;
		overflow: hidden;
}

.slider_prod_geral #slider_item {
	margin: 0 !important;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- flexslider  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- EFFECT JULIA  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

figure.effect-julia:hover {
  background: #2f3238;
}


.lista-produto .grid figure figcaption {
    padding: 2em 1.9em;
}

.lista-produto figure a{
  color: #c9cbd1;
	background: none;
}

.lista-produto figure a:hover {
  color: #000;
}


.portfolio figure.effect-julia p {
    background: none !important;
}

.portfolio figure.effect-julia p {
    background: none !important;
}

.portfolio figure.effect-julia p {
    background: none !important;
}

.portfolio .grid figure {
    min-width: 270px !important;
}

.lista_servicos .grid figure{
	  min-width: 202px !important;
}
