/* =============== EMPRESA =============== */

.localizacao-pagina {
    height: 5.31rem /* 85/16 */;
}

.open{font-family: 'Open Sans', sans-serif;}

.btn_cinza_escuro{
    background: #9a9a9a;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}

.btn_float{
    position: absolute;
    top:10px;
    z-index: 99;
}

.dicas .card,.produtos .card{
    border: 0;
}

.font-index h4{
    font-size: 24px;
    color: #fff;
}

.produtos .card-body{
    background: url("../imgs/fundo_produto.png");
    min-height: 120px;
    position: absolute;
    z-index: 9;
    bottom: 0;
    padding:50px 20px 0px 15px;
    
}