.topo {
    text-align: center;
    padding: 0px 0px 2px 0px;
}

.rodape {
    background: #d9d9d9;
    height: 40px;
    color: #fff;
    position: fixed;
    bottom: 0px;
    padding: 10px 0px 0px 0px;
    z-index: 999;
}

.rodape_paginas {
    background: #ffffff;
    -webkit-box-shadow: -1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.rodape a {
    color: #000000;
    text-decoration: none;
    font-size: .81rem /* 13/16 */;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.separador-rodape {
    height: 11.13rem;
}

.btn-topo {
    background: none;
    color: #818284;
}

.menu-mobile-principal {
    background: #d9d9d9;
}

.menu-mobile li {
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}

.menu-mobile li a:visited, .menu-mobile li a {
    color: #000;
    font-size: 1rem;
}

.bg_topo {
    background: #eaeae9;
    height: 3.75rem /* 60/16 */;
    line-height: 4;
}

.btn_verde {
    color: #fff;
    background: #d9d9d9;
    font-size: 1rem;
}

.btn_cinza_escuro {
    background: #404243;
    color: #fff;
    font-size: 14px;
}

.bg_branco {
    background: #fff;
}

.numero {
    font-size: 1rem /* 16/16 */;
    color: #000;
}

.bg_branco_borde {
    border-bottom: 1px solid #f0f0f0;
}

.btn_escuro{
    background: #404243;
    color: #fff;
}
